<h2>Login</h2>



<form method="post" action="/session/new">
  <input type="text" name="email" />
  <input type="password" name="password">
  <button>Cat me</button>
</form>

<a href="/auth/github">Login via Github</a>
